html,
 body{
	Margin:;
	Padding:
}

Body{
}

#wap{
	width: 70%;
	margin: 0 auto ;
}

header{
	background-color: ;
}

nav{
	background-color:;
}

section{
	background-color: ;
	Padding: 5px;
	margin: 10px;
}

footer{
	background-color: ;
	}